@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background:
    radial-gradient(circle at 5% 0%, rgba(255, 226, 171, 0.4), transparent 32%),
    radial-gradient(circle at 95% 15%, rgba(181, 228, 215, 0.35), transparent 35%),
    #f5f4ef;
}
